$white: #fff;

$black: #000;
$black1: #3A3A3A;

$gray1: #4e4e4e;
$gray2: #999;
$gray3: #f5f9ff;
$gray4: #dedede;
$gray5: #f3f3f3;
$gray6: #7e7e7e;

$blue: #0095D7;
$darkBlue: #033e8a;

$pink: #ffafcc;
$pink2: #f18aaf;
$pink3: #f591b6;
$pink4: #fff7fa;
