$white: #fff;

$black: #000;
$black1: #3a3a3a;

$gray1: #4e4e4e;
$gray2: #999999;
$gray3: #f5f9ff;
$gray4: #dedede;
$gray5: #f3f3f3;
$gray6: #7e7e7e;
$gray7: #f8f8f8;
$gray8: #F9F9F9;

$blue: #0095d7;
$darkBlue: #033e8a;

$pink: #ffafcc;
$pink2: #f18aaf;
$pink3: #f591b6;
$pink4: #fff7fa;
