@import "color";

@mixin hotPost() {
  padding: 39px 29px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;

  .small-title {
    color: $darkBlue;
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  // list
  .list {
    // item
    .item {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: flex;
        justify-content: flex-start;
      }

      .image {
        width: 72px;
        height: 56px;
        border-radius: 4px;
        margin-right: 24px;
        flex-shrink: 0;
      }

      p {
        color: $black;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: justify;
      }
    }
    // item
  }
  // list
}

@mixin pinkBg() {
  background: url("../../images/common/bg1.png") no-repeat top right / contain,
    url("../../images/common/bg2.png") no-repeat bottom left / contain,
    rgba($pink, 0.1);

  @media screen and (max-width: 1024px) {
    background: url("../../images/common/bg3.png") no-repeat top right / 50%,
    url("../../images/common/bg2.png") no-repeat bottom left / 50%,
    rgba($pink, 0.1);
  }
}

@mixin paging() {
  ul {
    display: flex;
    justify-content: center;
    gap: 4px;
  }

  a {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $pink;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid $pink;
    border-radius: 100%;
    cursor: pointer;
    transition: all ease 0.5s;

    &.active,
    &:hover {
      background: $pink;
      color: $white;
    }
  }
}

@mixin sideCategories() {
  .small-title {
    color: $pink3;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    background: $pink4;
    display: flex;
    justify-content: flex-start;
    padding: 0 12px;
    height: 41px;
  }

  li {
    border-bottom: 1px solid rgba($black, 0.1);
    padding: 10px;
  }

  a {
    color: $gray1;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
}
