@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}

@import "color";
@import "reset";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter var", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

@media (min-width: 576px) {
  /* line 6, node_modules/bootstrap/scss/_grid.scss */

  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  /* line 6, node_modules/bootstrap/scss/_grid.scss */

  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  /* line 6, node_modules/bootstrap/scss/_grid.scss */

  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  /* line 6, node_modules/bootstrap/scss/_grid.scss */

  .container {
    max-width: 1140px;
  }
}


.sec-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  position: relative;
  padding-bottom: 20px;
  color: #033e8a;
  margin: 0 auto;
  text-align: center;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 57px;
    background: $pink;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.white {
    color: $white;

    &:after {
      background: $white;
    }
  }

  &.align-left {
    text-align: left;
    margin-left: 0;

    &:after {
      left: 0;
      transform: translateX(0);
    }
  }

  &.no-border:after {
    display: none;
    padding-bottom: 0;
  }

  @media screen and (max-width: 1024px) {
    font-size: 22px;
    line-height: 26px;
  }
}

.image {
  display: flex;
  justify-content: center;
}

.hover-icon {
  a {
    &:hover {
      .image {
        background: $pink3;

        img {
          &:first-child {
            display: none;
          }

          &:last-child {
            display: block;
          }
        }
      }
    }
  }

  .image {
    width: 32px;
    height: 32px;
    background: $white;
    border-radius: 100%;
    position: relative;
    transition: all ease 0.5s;
    padding: 7px;
    overflow: hidden;

    img {
      transition: all ease 0.5s;

      &:last-child {
        display: none;
      }
    }
  }
}

@import "fixed-contact";
@import "main-nav";
@import "main-footer";
@import "breadcrumb";
@import "flashy";

// responsive
@import "responsive/main-nav";
@import "responsive/fixed-contact";
@import "responsive/main-footer";
// responsive
