@media screen and (max-width: 1024px) {
  .sec-1 {
    flex-direction: column;
    margin-bottom: 14px;

    .inner-left {
      width: 100%;

      .list {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }

    .inner-right {
      width: 100%;
      margin: 0;

      .list {
        li {
          background-size: 50%;
        }
      }
    }
  }
}