.sec-2 {
  margin-top: 47px;

  // list
  .list {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 22px;

    p {
      margin-top: 11px;
      color: $black;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
    }
  }
  // list
}
