@media screen and (max-width: 1024px) {
  .banner {
    padding: 11px 17px;
    height: auto;
    width: 100%;

    .owl-item,
    .item {
      height: 190px;
      width: 100%;
    }

    .owl-dots {
      position: relative;
      margin: 0 auto;
      width: 100%;
      transform: none;
      left: auto;
      right: auto;
      display: flex;
      justify-content: center;
    }
  }
}
