@media screen and (max-width: 1024px) {
  .sec-2 {
    padding: 33px 0 0 0;
    overflow: hidden;

    .container {
      flex-direction: column;
    }

    .main-bubble {
      width: calc(100vw - 26px);
      height: 585px;

      .bub {
        span {
          font-size: 14px;
          line-height: 17px;
        }

        p {
          font-weight: 700;
          font-size: 22px;
          line-height: 26px;
        }

        strong {
          font-weight: 700;
          font-size: 32px;
          line-height: 38px;
        }
      }

      .bub-1 {
        width: 137px;
        height: 141px;
        top: 148px;
        left: -9px;
      }

      .bub-2 {
        width: 137px;
        height: 141px;
        top: 180px;
        right: 0;
      }

      .bub-3 {
        width: 184px;
        height: 186px;
        top: 0;
        left: 25%;
      }

      .bub-4 {
        width: 137px;
        height: 141px;
        top: 284px;
        left: 10%;
      }

      .bub-5 {
        width: 137px;
        height: 141px;
        top: 337px;
        right: -9px;
        left: auto;
      }

      .bub-6 {
        width: 137px;
        height: 141px;
        left: 0;
        top: 423px;
      }

      .bub-8 {
        left: 132px;
        top: 190px;
      }

      .bub-9 {
        left: 0;
        right: auto;
        top: 48%;
      }

      .bub-10 {
        top: 48px;
      }

      .bub-11 {
        right: 0;
        top: 0;
      }

      .bub-12 {
        top: 0;
        left: 0;
      }

      .bub-13 {
        top: 73%;
      }

      .bub-14 {
        top: 55%;
      }

      .bub-15 {
        right: 21%;
        top: 84%;
      }

      .bub-16 {
        top: 83%;
      }

      .bub-17 {
        top: 80%;
      }

      .bub-18 {
        top: 68%;
        left: 0;
      }

      .bub-19 {
        left: auto;
        right: 40%;
        top: 90%;
      }
    }

    .interactions {
      margin-right: 0;
      margin-left: 0;
    }

    .comments {
      height: 700px;

      .item {
        .image {
          width: 82px;
          height: 123px;
        }

        .content {
          padding: 16px 25px 16px 70px;
          margin-left: -55px;
        }

        .name {
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          margin-bottom: 4px;
        }

        .des {
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
        }
      }
    }

    .paging {
      bottom: -10px;
    }
  }
}
