.hiring {
  padding-bottom: 36px;
}
.hiring .container {
  flex-direction: column;
}
.hiring .sec-title {
  margin: 42px auto 32px 0;
}
.hiring .sec-1 .list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 28px;
}
.hiring .sec-1 .list .item {
  width: calc(33.3333333333% - 28px);
  overflow: hidden;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.05);
  display: block;
}
.hiring .sec-1 .list .image {
  width: 100%;
  height: 229px;
  background-size: 105%;
  background-position: center;
  background-repeat: no-repeat;
}
.hiring .sec-1 .list .content {
  padding: 12px 13px;
}
.hiring .sec-1 .list .content h3 {
  padding-bottom: 18px;
  color: #3a3a3a;
  font-weight: 500;
}
.hiring .sec-1 .list .content p {
  font-weight: 500;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #0095d7;
  padding: 19px 0 16px 0;
}
.hiring .sec-1 .list .content ul {
  border: 1px solid #f3f3f3;
  border-right: 0;
  border-left: 0;
  padding: 17px 0 20px 0;
  display: flex;
  justify-content: space-between;
}
.hiring .sec-1 .list .content ul li {
  display: flex;
  justify-content: flex-start;
}
.hiring .sec-1 .list .content ul li:last-child {
  justify-content: flex-end;
}
.hiring .sec-1 .list .content ul li span {
  color: #7e7e7e;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.hiring .sec-1 .list .content ul li .icon {
  width: 14px;
  margin-right: 5px;
}
.hiring .sec-1 .paging {
  padding-top: 36px;
}
.hiring .sec-1 .paging ul {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.hiring .sec-1 .paging a {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffafcc;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #ffafcc;
  border-radius: 100%;
  cursor: pointer;
  transition: all ease 0.5s;
}
.hiring .sec-1 .paging a.active,
.hiring .sec-1 .paging a:hover {
  background: #ffafcc;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .hiring .sec-title {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .hiring .sec-1 .list {
    gap: 15px;
  }
  .hiring .sec-1 .list .item {
    width: 100%;
  }
  .hiring .sec-1 .list .content ul {
    display: block;
  }
  .hiring .sec-1 .list .content ul li {
    width: 100%;
    justify-content: flex-start !important;
    margin-bottom: 10px;
  }
  .hiring .sec-1 .list .content ul li:last-child {
    margin-bottom: 0;
  }
}
