@import "../color";
@import "../mixin";

.knowledge {
  margin-top: 33px;

  a {
    display: block;
  }

  .container {
    align-items: flex-start;
  }

  .left {
    width: calc(100% - 348px - 19px);
    flex-shrink: 0;
  }

  .right {
    width: 348px;
    margin-left: 19px;
    flex-shrink: 0;
  }

  @import "sec-1";
  @import "sec-2";
  @import "sec-3";
  @import "sec-4";
  @import "sec-5";

  // responsive
  @media screen and (max-width: 1024px) {
    margin-top: 30px;

    .container {
      flex-direction: column;
    }

    .left,
    .right {
      width: 100%;
      margin: 0;
    }
  }

  @import "./responsive/sec-1";
  @import "./responsive/sec-2";
  @import "./responsive/sec-3";
  @import "./responsive/sec-4";
  @import "./responsive/sec-5";
  // responsive
}
