.sec-2 {
  .sec-title {
    margin-bottom: 24px;
  }

  b {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: $gray1;
    display: block;
    margin-bottom: 24px;
  }

  button {
    background: $pink;
    color: $white;
    border: 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    width: 194px;
    height: 52px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 31px;

    span {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }

  // des
  .des {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 21px;

    .icon {
      width: 24px;
      height: 24px;
      margin-right: 14px;
      flex-shrink: 0;
    }

    p {
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      color: $darkBlue;
      margin-bottom: 16px;
    }

    span {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $black;
      margin-bottom: 11px;
    }
  }
  // des
}
