@media screen and (max-width: 1024px) {
  .main-footer {
    // top
    .top {
      .container {
        padding: 53px 16px 31px 16px;
      }

      .footer-logo {
        width: 100px;
        margin-right: 15px;
      }

      .connect-info {
        flex-direction: column;
        width: calc(100% - 100px - 15px);
      }

      .connect {
        width: 100%;
        margin-bottom: 10px;

        .title {
          padding-bottom: 0;
          background: url("../images/common/caret-down-w.png") no-repeat right
            10% center/6%;

          font-weight: 500;
          font-size: 16px;
          line-height: 19px;

          &:after {
            display: none;
          }
        }

        &.collapse {
          ul {
            overflow: hidden;
            max-height: 0;
            transition: all ease 0.5s;
          }

          &.social ul {
            overflow: visible;
            max-height: 32px;
          }

          &.active {
            ul {
              max-height: none;
            }
          }
        }
      }
    }
    // top

    // bottom
    .bottom {
      .container {
        flex-direction: column;
        text-align: center;
        align-items: center;
      }

      .copyright {
        margin-top: 4px;
      }
    }
    // bottom
  }
}
