@media screen and (max-width: 1024px) {
  .sec-1 {
    .list {
      gap: 15px;

      .item {
        width: calc(100% / 2 - 8px);
      }

      .content {
        ul {
          display: block;

          li {
            width: 100%;
            justify-content: flex-start !important;
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
