@media screen and (max-width: 1024px) {
  .sec-6 {
    display: block;
    margin-bottom: 24px;
    @include sideCategories();

    ul {
      max-height: 0;
      overflow: hidden;
      transition: all ease .5s;

      &.active {
        max-height: 100%;
      }
    }
  }
}