@import "../color";
@import "../mixin";

.services {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  @mixin list($mb: 42px) {
    li {
      display: flex;
      justify-content: flex-start;
      margin-bottom: $mb;
      width: calc(100% / 2 - 20px);
    }

    a {
      color: $blue;
      font-weight: 500;
      line-height: 26px;
      font-weight: 22px;
    }

    .image {
      width: 42px;
      height: 42px;
      background: $pink;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      padding: 7px;
      margin-right: 15px;
    }
  }

  .des {
    color: $gray1;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 39px;
  }

  @import "sec-1";
  @import "sec-2";
  @import "sec-3";
  @import "sec-4";
  @import "sec-5";
  @import "sec-6";
}
