@import "../mixin";

.sec-2 {
  .list {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 21px;
  }

  .item {
    background: $gray8;
    padding: 22px 24px;
    display: block;
    width: calc(100% / 4 - 21px);
    margin-bottom: 24px;

    p {
      font-weight: 510;
      font-size: 16px;
      line-height: 19px;
      color: $black;
      margin: 32px 0 8px 0;
    }

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $gray2;
      display: block;
      padding-bottom: 8px;
      border-bottom: 1px solid $gray9;
      margin-bottom: 8px;
    }

    label {
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: $blue;
    }
  }

  // paging
  .paging {
    margin-top: 49px;

    @include paging();
  }
  // paging
}
