@import "../color";

.staff {
  padding-bottom: 39px;

  .container {
    flex-direction: column;
    align-items: stretch;
  }

  @import "sec-1";
  @import "sec-2";

  // responsive
  @import "./responsive/sec-1";
  @import "./responsive/sec-2";
  // responsive
}
