@import "../color";

.service-detail {
  padding-top: 29px;

  .container {
    align-items: flex-start;
  }

  // left
  .left {
    width: 256px;
    margin-right: 24px;
    flex-shrink: 0;
    flex-grow: 1;
  }
  // left

  .right {
    width: calc(100% - 256px - 24px);
  }

  @import "sec-1";
  @import "sec-2";

  // responsive
  @media screen and (max-width: 1024px) {
    .container {
      flex-direction: column-reverse;
    }

    .left,
    .right {
      width: 100%;
      margin: 0;
    }
  }
  @import "./responsive/sec-1";
  @import "./responsive/sec-2";
  // responsive
}
