@import "../color";

.hiring {
  padding-bottom: 36px;
  
  .container {
    flex-direction: column;
  }

  .sec-title {
    margin: 42px auto 32px 0;
  }

  @import "sec-1";

  // responsive
  @media screen and (max-width: 1024px) {
    .sec-title {
      margin-top: 30px;
    }
  }
  @import "./responsive/sec-1";
  // responsive
}
